@{
    ViewBag.Title = "Información Bascula RiceLake";
}

<div class="jumbotron">
    <h1><strong>Bascula RiceLake 920i</strong></h1>
    <p class="lead">
        En esta pagina podras encontrar informacion y descargar el manual de la bascula Rice Lake 920i.
    </p>
    <a class="btn btn-default " href="@Url.Content("~/Rice_Lake920i/Index")">Regresar</a>
    <a class="btn btn-info " href="@Url.Content("~/Content/img/Bascula-Info/Info-manual-español-920i-rice-lake-v3-12.pdf")">Descargar manual</a>   
</div>
<div class="row">
    <img src="~/Content/img/Bascula-Info/img_1.jpg" class="img-responsive" alt="Responsive image">
    <br />
    <img src="~/Content/img/Bascula-Info/img_2.jpg" class="img-responsive" alt="Responsive image">
    <br />
    <img src="~/Content/img/Bascula-Info/img_3.jpg" class="img-responsive" alt="Responsive image">
    <br />
    <img src="~/Content/img/Bascula-Info/img_4.jpg" class="img-responsive" alt="Responsive image">
    <p class="lead">
        Una vez completado el llenado del formato de la tabla de cubicacion podras usar la herramienta de convercion mm x mm que se encuentra en la pagina anterior ..
    </p>
</div>

