@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string exception = ViewBag.exception;
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<div class="login-container">
    <div class="login-box">
        <div class="thumbnail">
            <a href="@Url.Action("Home", "Home")">
                <img src="https://pts-tools.com.mx/Content/img/proftech-logo-01.png" alt="PTS-TOOLS Logo" />
            </a>
        </div>

        <h2>Iniciar Sesión</h2>

        @using (Html.BeginForm("Login", "Acceso", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="user">E-mail:</label>
                <input class="form-control" type="email" id="user" name="user" required />
            </div>

            <div class="form-group password-container">
                <label for="pass">Contraseña:</label>
                <input class="form-control" type="password" id="pass" name="pass" required />
                <span id="togglePassword" class="toggle-password">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </span>
            </div>

            <!-- Boton de ingresar -->
            <div class="button-container">
                <input type="submit" class="btn btn-primary btn-largo" value="Ingresar" />
            </div>

            <!-- Enlace para recuperar contraseña -->
            <div class="forgot-password">
                @if (exception != null)
                {
                    <pre class="error-message">@exception</pre>
                }
                <a href="@Url.Action("RecuperarContraseña", "Acceso")">¿Olvidaste tu contraseña?</a>
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#pass");

        togglePassword.addEventListener("click", function (e) {
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            this.querySelector("i").classList.toggle("fa-eye-slash");
        });
    });
</script>
