
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string exception = ViewBag.exception;
}

<div class="jumbotron">
    <h2>Iniciar Sesion</h2>
    @if (exception != null)
    {
        <br />
        <pre style="font-size:2rem; color:red">@exception</pre>
    }
    <div class="row">
        <button onclick="document.location.href = '@Url.Content("~/Home/home")'" type="button" class="btn btn-success" data-toggle="tooltip" title="se abrirá un la pagina principal de HELP DESK de PTS">
            &oplus; Home
        </button>
    </div>
</div>
<section class="page-section about-heading">
    <div class="container">
       <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("Login", "Acceso", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <br />

                                    <div class="row">
                                        <div class="col-md-12" >
                                            <div class="col-md-5">
                                                <label>Usuario: </label>
                                                <input class="form-control" type="email" name="user" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-5">
                                                <label>Contraseña: </label>
                                                <input class="form-control" type="password" name="pass" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-5">
                                                <br />
                                                <input type="submit" class="btn btn-primary" value="Ingresar" />
                                            </div>
                                        </div>
                                    </div>
                                 }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
