@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    string exception = ViewBag.ExceptionMessage;
    string Info = ViewBag.Message;
}

<style>
    /* Centrar el contenedor de recuperación de contraseña */
    .recovery-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f8f9fa;
    }

    /* Cuadro de recuperación de contraseña */
    .recovery-box {
        position: relative;
        background: white;
        padding: 10rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
        text-align: center;
    }

    /* Imagen en la esquina superior izquierda */
    .thumbnail {
        position: absolute;
        top: 10px;
        left: 10px;
    }

        .thumbnail img {
            max-width: 150px;
            height: auto;
        }

    /* Encabezado de recuperación de contraseña */
    .recovery-box h2 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    /* Mensaje de error */
    .error-message {
        font-size: 1rem;
        color: red;
    }

    /* Alinear texto a la izquierda */
    .form-group label {
        text-align: left;
        display: block;
        margin-bottom: 0.5rem;
    }

    /* Botones en la misma línea */
    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }
</style>

<div class="recovery-container">
    <div class="recovery-box">
        <div class="thumbnail">
            <img src="https://pts-tools.com.mx/Content/img/proftech-logo-01.png" alt="PTS-TOOLS Logo" />
        </div>
        <button onclick="document.location.href = '@Url.Content("~/Home/home")'" type="button" class="btn btn-success" data-toggle="tooltip" title="Se abrirá la página principal de HELP DESK de PTS">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="22" height="22">
                <!--!Font Awesome Free 6.5.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
            </svg> Home
        </button>
        <h2>Recuperar Contraseña</h2>

        @using (Html.BeginForm("RecuperarContraseña", "Acceso", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- E-mail -->
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input class="form-control" type="email" id="email" name="email" required />
            </div>
            <!-- Botones de Enviar -->
            <div class="button-container">
                <input type="submit" class="btn btn-primary" value="Enviar" />
            </div>
        }

        @if (!string.IsNullOrEmpty(exception))
        {
            <div class="alert alert-danger" role="alert">
                @exception
            </div>
        }
        @if (!string.IsNullOrEmpty(Info))
        {
            <div class="alert alert-success" role="alert">
                @Info
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var message = @Html.Raw(Json.Encode(Info));

        if (message === "Se ha enviado un correo electrónico con tu nueva contraseña.") {
            // Redirigir a la página de inicio después de 3 segundos
            setTimeout(function() {
                window.location.href = "@Url.Action("login", "Acceso")";
            }, 3000);
        }
    });
</script>




