<section class="page-section about-heading">
    <div class="container">
        @*<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." />*@
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            @*<span class="section-heading-upper">Strong Coffee, Strong Roots</span>*@
                            <span class="section-heading-lower">Generar Trama</span>
                        </h2>
                        <div class="row">
                            <div class="col-md-12">                                                                   

                                    <div class="row">

                                        <p><a onclick="document.location.href = '@Url.Content("~/home/TramaConfirmacionO/")'" class="btn btn-primary btn-lg">Confirmacion de Carga/Descarga &raquo;</a></p>
                                        <p><a onclick="document.location.href = '@Url.Content("~/home/TramaVolumenTanques/")'" class="btn btn-primary btn-lg">Volumen de tanques &raquo;</a></p>

                                    </div>
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>