
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Bienvenidos</h1>
    <p class="lead">
        Este es un simulador del Sistema integral de medicion y control de terminales
    </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


@*<br />
<h4>Documentacion</h4>
<br />
        En la ventana Entradas nos sirve para emular la conexion con SIIC, la tabla entradas se emula las transacciones provenientes de SIIC*@

