
@{
    ViewBag.Title = "SLA";
}
<div class="jumbotron">
    <h2>Acuerdo de Nivel de Servicio (SLA) </h2>    
    
</div>
<div class="row">
    <div class="col-md-6">
        <p class="lead">
            Los SLA se utilizan para establecer indicadores medibles del servicio que brindamos y así asegurar el cumplimiento de las expectativas de nuestros clientes.
        </p>
        <p class="lead">
            Para expresar un compromiso de calidad de servicio, esta debe ser medible con facilidad. Esta medición puede ser, muchas veces, subjetiva por parte de los clientes finales, como en el caso de un departamento de atención al cliente, o un servicio de reparaciones a domicilio.
        </p>
        <p class="lead">
            A continuacion se muestra las tablas y graficas midiendo la eficiencia de respuesta del servicio: 
        </p>
    </div>
    <div class="col-md-6" style="margin:0px 0px 0px 0px">
        <img src="~/Content/img/SLA.jpg" class="img-responsive" alt="Responsive image">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

